body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #3494E6, #EC6EAD);
}

.container {
  text-align: center;
  position: relative;
}

.game-container {
  position: relative;
  overflow: hidden;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 5px;
  margin: 20px auto;
  border: 5px solid #fff;
  border-radius: 10px;
}

.game-board div {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  color: #ff8080; /* X symbol color */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Text shadow for X and O */
}

.game-board div.O {
  color: #80bfff; /* O symbol color */
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding box shadow */
}

.overlay button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #ff8080;
  border: none;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.overlay button:hover {
  background-color: #ff6666;
}

.restart-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #45a049;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overlay.fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

.overlay.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}
